* {
    margin: 0;
    padding: 0;
}

/* navbar */
#nav {
    position: sticky;
    top: 0;
    z-index: 1001;
}

.navbar {
    background-image: linear-gradient(to right, #239660, #8bc9a9);
}

.navbar-brand span {
    font-weight: bolder;
    color: #fff;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: bold;
}

/* banner */
#banner {
    position: relative;
    background-image: linear-gradient(to right, #239660, #8bc9a9);
    color: #fff;
    padding: 5%;
}

.title {
    margin-top: 88px;
}

.ban-img {
    position: relative;
    z-index: 1000;
}

.wave {
    position: absolute;
    bottom: -10%;
    left: 0;
}

/* about */
#about {
    padding: 80px 0;
}

/* mitra */
#mitra {
    padding: 80px 0;
    background: rgb(247, 247, 247);
}

.mi-img {
    position: relative;
    z-index: 1000;
}

/* features */
#features {
    padding: 80px 0;

}

.features {
    padding: 20px;
}

.features img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}


/* .jumbotron {
  padding: 2rem 1rem;
  height: 500px;
}

.btn {
  width: 90px;
}

.btn-regis {
  width: 150px;
}

#about {
  background-color: #a0c9b4;
}


.link-shop a:hover {
  color: #fff;
  text-decoration: none;
}



@media screen and (max-width: 768px) {
  .ilustration {
    display: none;
  }

  iframe {
    height: 75%;
    width: 100%;
  }

  .container-narrow {
    width: 80%;
  }

  .jumbotron {
    height: 350px;
  }
} */
